$font:'Gilroy';

@import './header.scss';
@import './karuselItem.scss';
@import './catalogs.scss';
@import './tovarDiscaunt.scss';
@import './workwithus.scss';
@import './howWeCook.scss';
@import './news.scss';
@import './footer.scss';
@import './header_catalog.scss';
@import './catalog_coffee_header2.scss';




body{
    position: relative;
    left: $left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1350px;
   }

   a{
    text-decoration: none;
   }